body{
    padding-left: 30px;
    padding-right: 60px;
}

#logout{
    margin-left: 85%;
    
}

.category{
    margin-left: 20px;
}

.status{
    margin-left: 40px;
}

.calender{
    margin-left: 90px;
}

.reminder{
    margin-left: 45px;
}

.public{
    margin-left: 56px;
}

.image{
    margin-left: 23px;
}


#update-profile{
    /* margin-top: 100px; */
}

.add-item{
    margin-top: 50px;
    
   
}



.pop-up{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    width: 30%;
    position: absolute;
    top:20%;
    left:30%;
    display: none;
    
}

#del-check{
    
    margin-left:400px;
    display: none;
    
}

#delete{
    padding-right: 40px;
}
ul{
    /* padding-left:150px;    */
    display: block;
}
.edit-pop-up{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    width: 25%;
    position: absolute;
    display: none;
    top:60%;
    left:50%; 
}

.enable{
    display: block;
}

.dis{
    display: none;
}

.show-date{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    width: 25%;
    width: 30%;
    position: absolute;
    top:30%;
    left:30%;
    display: none;
}

.enable-date{
    display: block;
}

#add-reminder{
    margin-left: 32%;
}


.main{
    display: none;
}




.display-pop-up{
    display: block;
}

#cancel{
    margin-left:80px;
    margin-right: 100px;
    font-weight: bold;
}

#submit{
    font-weight: bold;
  
}

ul{
    top:30%;
}

.todo-list{
    border: 1px solid black;
    max-width: 400px;
    padding-right: 30px;
}

li{
    /* display: flex; */
    /* flex-direction: column; */
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    /* max-width: 400px; */
    margin-left: 20px;
    /* margin-right: 100px; */
    
    
}

#delete{
    width: 20px;
    height:20px;
   

}

#edit{
    width: 20px;
    height:20px;
    padding-left:180px ;
    padding-right: 20px;


}

.reminder-text{
    /* position: absolute; */
    /* right:30%; */
    top:70%;
    color: red;
    border: 1px solid black;
    /* padding-left: 100px; */
    padding-right: 100px;
    /* margin-left: 400px; */
    margin-left: 200px;
    
    
   
}

.reminder-alert{
    position: absolute;
    right:5%;
    top:75%;
    color: red;
    max-width: 600px;
    /* margin-left: 300px; */
    
  
   
    
    
}

.add-reminder{
  
    /* border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    width:100%; */
 
    margin-top: 10%;

}

.li1{
     border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    width:50%;
}


.li2{
    border: 1px solid;
   padding: 10px;
   box-shadow: 5px 10px #888888;
   width:100%;
   max-width: 400px;
}
.searchdate{
    display: none;
}

.todo-style{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.add-color{
    color:red;
}

.add{
    /* margin-left: 150px; */
    font-size:x-large ;
    color: red;
    text-align: center;
}

.reminer-empty{

   
    font-size:x-large ;
    color: red;

}


.empty{
    margin-left: 150px;
    font-size:x-large ;
    color: red;
}

#name,#end-date{
    margin-left:80px;
}

#end-date{
    margin-left:58px;
}


#img{
    margin-left:25px;
}

#refresh{
    margin-left: 30px;
}

.reminder-not-found{
    display: none;
    font-size: x-large;
    text-align: center;
}

#date-found{
    display: none;
    font-size: x-large;
    text-align: center;
    color:red;

}