body{
    padding-left: 30px;
    padding-right: 60px;
}

.category{
    margin-left: 20px;
}

.status{
    margin-left: 40px;
}

.calender{
    margin-left: 90px;
}

.reminder{
    margin-left: 45px;
}

.public{
    margin-left: 56px;
}

.image{
    margin-left: 23px;
}


#update-profile{
    margin-top: 100px;
}

.add-item{
    margin-top: 50px;
}
.pop-up{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    width: 30%;
    position: absolute;
    top:20%;
    left:30%;
    display: none;
    
}

#del-check{
    margin-left:350px;
    
}

#delete{
    padding-right: 40px;
}
ul{
    padding-left:150px;
}
.edit-pop-up{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    width: 25%;
    position: absolute;
    display: none;
    top:30%;
    left:50%; 
}

.enable{
    display: block;
}

.dis{
    display: none;
}



.main{
    display: none;
}




.display-pop-up{
    display: block;
}

#cancel{
    margin-left:80px;
    margin-right: 100px;
    font-weight: bold;
}

#submit{
    font-weight: bold;
  
}

ul{
    top:30%;
}

li{
    /* display: flex; */
    /* flex-direction: column; */
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    width: 30%;
    
}

#delete{
    width: 20px;
    height:20px;
   

}

#edit{
    width: 20px;
    height:20px;
    padding-left:180px ;
    padding-right: 20px;


}